{% extends 'base.html.twig' %}

{% block title %}Degree{% endblock %}

{% block body %}
    <h1>Degree</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ degree.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ degree.title }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ degree.date ? degree.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Place</th>
                <td>{{ degree.place }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_degree_index') }}">back to list</a>

    <a href="{{ path('app_degree_edit', {'id': degree.id}) }}">edit</a>

    {{ include('degree/_delete_form.html.twig') }}
{% endblock %}
