{% extends 'base.html.twig' %}

{% block title %}Galerie{% endblock %}

{% block body %}
    <h1 class="uk-text-center">Galerie</h1>
{% if images %}
    <div class="uk-flex uk-flex-center">
        <div class="uk-width-auto">
            <div class="uk-flex uk-flex-center"> 
                <div class="uk-grid-small 
            uk-child-width-1-2@s 
            uk-child-width-1-3@m 
            uk-child-width-1-4@l 
            uk-child-width-1-5@xl 
            uk-child-width-1-6@xxl" 
     uk-grid 
     uk-lightbox="animation: fade">

                    {% for image in images %}
                        <div class="uk-position-relative">
                            <a class="uk-inline" 
                               href="{{ asset('assets/images/uploads/' ~ image.path) }}" 
                               data-caption="Image">
                                <img src="{{ asset('assets/images/uploads/' ~ image.path) }}" 
                                     width="450" height="300" 
                                     alt="image galerie">
                            </a>

                            {% if is_granted('ROLE_ADMIN') %}
                                <form method="post" 
                                      action="{{ path('app_image_delete', {'id': image.id}) }}" 
                                      onsubmit="return confirm('Supprimer cette image ?');"
                                      class="uk-position-bottom-right uk-position-small">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ image.id) }}">
                                    <button class="uk-button uk-button-danger uk-button-small uk-border-pill">
                                        Supprimer
                                    </button>
                                </form>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="uk-placeholder uk-text-center" style="height:180px; display:flex; align-items:center; justify-content:center;">
        <span>Aucune image dans la galerie pour le moment</span>
    </div>
{% endif %}

    <hr class="uk-divider-icon">

    {% if is_granted('ROLE_ADMIN') %}
        <div class="uk-flex uk-flex-center uk-margin">
            <a href="{{ path('app_image_new') }}" class="uk-button uk-button-primary uk-button-small uk-border-pill uk-box-shadow-hover-small">
                Ajouter des images
            </a>
        </div>
    {% endif %}

    <div class="uk-flex uk-flex-center uk-margin">
        <a href="{{ path('app_summary') }}" class="uk-button uk-button-default uk-border-pill uk-box-shadow-hover-small">
            Retour au sommaire
        </a>
    </div>
{% endblock %}
