{% extends 'base.html.twig' %}

{% block title %}Concerts
{% endblock %}

{% block body %}
	<div class="uk-animation-fade background-concert" style="animation-delay: 200ms;">

		<h1 class="uk-text-center">Concerts</h1>
		<hr class="uk-divider-icon">
		<br>

		{% if is_granted('ROLE_ADMIN') %}
			<div class="uk-flex uk-flex-center uk-margin-medium-bottom">
				<a href="{{ path('app_concert_new') }}" class="uk-button-primary uk-button-small uk-border-pill uk-box-shadow-hover-small">
					Ajouter
				</a>
			</div>
		{% endif %}

		<div class="concert-container uk-flex uk-flex-center">
			<ul class="uk-list uk-list-divider uk-width-1-2@m uk-text-center">
				{% for concert in concerts %}
					<li>
                        {% if concert.band %}
						<strong>{{ concert.band }}</strong>
                        {% endif %}
						<span>{{ concert.date ? concert.date|date('d-m-Y') : '' }}</span>
						<p>{{ concert.place }}</p>

						{% if is_granted('ROLE_ADMIN') %}
							<br>
							<a href="{{ path('app_concert_edit', {'id': concert.id}) }}" class="uk-button-primary uk-button-small uk-border-pill uk-box-shadow-hover-small">Modifier</a>
						{% endif %}
					</li>
					
				{% else %}
					<li>Aucune date de concert pour le moment.</li>
				{% endfor %}
			</ul>
		</div>
		<div class="action-buttons">
			<a href="{{ path('app_summary') }}" style="background:white; color:black; padding:8px 16px; border-radius:20px; display:inline-block;">
    Retour au sommaire
</a>
		</div>
	</div>
{% endblock %}
