{% extends 'base.html.twig' %}

{% block title %}
	Sommaire
{% endblock %}

{% block body %}

	<div class="background-summary">

		<h1>Sommaire</h1>

		<div class="uk-animation">
			<div class="uk-card uk-card-default uk-card-body uk-animation-slide-left uk-flex uk-flex-center" style="animation-delay: 100ms; background-color: #ffffff26;">
				<a href="{{ path('app_biography') }}" class="uk-link-muted summary-link">Biographie</a>
			</div>
		</div>

		<div class="uk-animation">
			<div class="uk-card uk-card-default uk-card-body uk-animation-slide-left uk-flex uk-flex-center" style="animation-delay: 200ms; background-color: #ffffff4D;">
				<a href="{{ path('app_degree_index') }}" class="uk-link-muted summary-link">Distinctions</a>
			</div>
		</div>

		<div class="uk-animation">
			<div class="uk-card uk-card-default uk-card-body uk-animation-slide-left uk-flex uk-flex-center" style="animation-delay: 300ms; background-color: #ffffff8e;">
				<a href="{{ path('app_project_index') }}" class="uk-link-muted summary-link">Projets</a>
			</div>
		</div>

		<div class="uk-animation">
			<div class="uk-card uk-card-default uk-card-body uk-animation-slide-left uk-flex uk-flex-center" style="animation-delay: 350ms; background-color: #ffffffbe;">
				<a href="{{ path('app_concert_index') }}" class="uk-link-muted summary-link">Concerts</a>
			</div>
		</div>

		<div class="uk-animation">
			<div class="uk-card uk-card-default uk-card-body uk-animation-slide-left uk-flex uk-flex-center" style="animation-delay: 300ms; background-color: #ffffff8e;">
				<a href="{{ path('app_image_index') }}" class="uk-link-muted summary-link">Galerie</a>
			</div>
		</div>

		<div class="uk-animation">
			<div class="uk-card uk-card-default uk-card-body uk-animation-slide-left uk-flex uk-flex-center" style="animation-delay: 550ms; background-color: #ffffff;">
				<a href="{{ path('app_contact') }}" class="uk-link-muted summary-link">Contact</a>
			</div>
		</div>
	</div>

{% endblock %}
